/*//
// Ratio classes for fluid ratio elements
//
// aspect ratio  | padding value
// --------------|----------------------
//  16:9         |       56.25%
//  4:3          |       75%
//  3:2          |       66.66%
//  8:5          |       62.5%
//
// Example usage:
//
// <div class="u-ratio u-ratio--4_3">
//   <div class="u-ratio-content">
//    This is a 4:3 ratio with the padding trick.
//   </div>
// </div>
//
//*/
.u-ratio {
  position: relative;
}
.u-ratio:before {
  content: '';
  display: block;
}

.u-ratio-content{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
